<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>845193799591-djocl21l3lh2uanouah8iknt94dq6o9d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.845193799591-djocl21l3lh2uanouah8iknt94dq6o9d</string>
	<key>API_KEY</key>
	<string>AIzaSyB7vGAm4xKm4ePcKF4033tEt65lvTEV4Y8</string>
	<key>GCM_SENDER_ID</key>
	<string>845193799591</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dicoding.ditonton</string>
	<key>PROJECT_ID</key>
	<string>flutter-cicd-78052</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-cicd-78052.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:845193799591:ios:48e6f4db98f6b87fa0b882</string>
</dict>
</plist>